@model List<Student>
@{
    ViewBag.Title = "Students List";
}
<h1>Students:</h1>
@if (ViewBag.Id <= 2)
{
    /*Will not show any info if Id is 2 or less*/
    <p>"You do not have a sufficient access level to view this data."</p>
}
else if ((ViewBag.Id > 2) && (ViewBag.Id < 8))
{
    /*Shows all first and last names in list if Id is above 2 but less than 8*/
    foreach (var student in @Model)
    {
        <tr>
            <td>@student.firstName</td>
            <td>@student.lastName</td>
        </tr>
    }
}
else if (ViewBag.Id >= 8)
{
    <p>Hello Admin</p>
    /*Shows all student info in list if Id is 8 or above*/
    foreach (var student in @Model)
    {
        <tr>
            <td>@student.firstName</td>
            <td>@student.lastName</td>
            <td>@student.grade</td>
        </tr>
    }
}